POSTGRES_USER=radar
POSTGRES_PASSWORD=change_me
POSTGRES_DB=radar
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
RABBITMQ_URL=amqp://guest:guest@localhost:5672//
SUPERJOB_SECRET_KEY=v3.r.140081699.94a12d9f25af0270ac74cb7866258dc0c0e4d9db.b6be32d49e42dc94e7635370eb9eced8e6fd0cd1